body{
    height: 100%;
    width: 390px;
    margin: 0 auto;
    background-color: whitesmoke;
}
:root{
    --white1: white;
    --white2: whitesmoke;
    --black1: black;
    --black2: rgb(58, 57, 57);
    --text1: black;
    --text2: white;
}
.light{
  --bg: var(--white1);
  --bg2: var(--white2);
  --light-text: var(--text1)
  
}
.dark{
    --bg: var(--black1);
    --bg2: var(--black2);
    --dark-text: var(--text2)
}
 
#main-div{  
    background-color: var(--bg);
    color: white;
    border-radius: 20px;
    padding: 50px 0 20px 0;
}

.parent-icon{
    text-align: center;
}
.icon{
    border: var(--bg2);
    background-color: var(--bg2);
    width: 20%;
    height: 20%;
    padding: 10px;
    color:  var(--light-text)
}
.display{
    height: 40%;
    padding: 150px 20px 20px 0;
    text-align: end;
    
}
.display input{
    font-size: 25px;
    text-align: right;
    border: none;
    border-radius: 15px;
    background: transparent;
    padding: 20px;
    color: var(--light-text);
}
.cal-working{
    margin-bottom: 20px;
}
.cal-symbols{
    background: var(--bg2);
    height: 55%;
    margin: 0 10px;
    border-radius: 15px;
    padding: 20px 10px ;
    
}    
.cal-symbols button{
    border: 0;
    width: 70px;
    height: 65px;
    border-radius: 20px;
    background: var(--bg);
    font-size: 20px;
    padding: 10px;
    margin:  5px 7px;
}
.font-color{
    color: var(--light-text);
}
.fontcolor{
    color: turquoise;
}
.font{
    color: crimson;
}
button:hover{
    transform: scale(1.1);
}


